@model Vehicle
@using automanager.Extensions
@{
    ViewData["Title"] = $"{Model.Name} ({Model.LicensePlate})";
}

<a asp-controller="Home" asp-action="Index" class="btn btn-primary mb-3">Zurück zur übersicht</a>

<h2>Tankvorgänge <a asp-action="FuelEntryForm" asp-route-id="@Model.Id" class="btn btn-primary float-right"><i class="fas fa-gas-pump"></i> Neuer Eintrag</a></h2>

<table class="table">
    <tr>
        <th scope="col">Datum</th>
        <th scope="col">Km</th>
        <th scope="col">Liter</th>
        <th scope="col">l/100km</th>
        <th scope="col"></th>
    </tr>

@foreach(var e in Model.GasFillingEntries.OrderByDescending(p => p.Kilometers))
{
    <tr>
        <td>@e.Date.ToShortDateString()</td>
        <td>@e.Kilometers</td>
        <td>@e.Liters.ToString("F2") l</td>

        @if (e.Partial)
        {
            <td>Unvollständig</td>
        }
        else
        {
            var s = e.GetStatistics();
        
            <td>@s.LiterPer100Km.ToString("F2") l/100km</td>
        }
        
        <td>
            @if (!e.Partial)
            {
                <a asp-action="DisplayFillingEntry" asp-route-id="@e.Id" class="btn btn-secondary"><i class="fas fa-info-circle"></i></a>
            }

            <a asp-action="EditFuelEntry" asp-route-id="@e.Id" class="btn btn-secondary"><i class="fas fa-edit"></i></a>
            <a asp-action="DeleteFillingEntryForm" asp-route-id="@e.Id" class="btn btn-secondary"><i class="fas fa-trash"></i></a>
        </td>
    </tr>
}

</table>

@if (Model.GasFillingEntries.Where(g => !g.Partial).Count() > 0)
{
    <h2>Gesamtstatistik</h2>

    var statistics = Model.GasFillingEntries.Where(g => !g.Partial).Select(g => g.GetStatistics());
    var totalKm = statistics.Sum(s => s.DistanceKilometers);
    var totalFuel = statistics.Sum(s => s.Liters);
    var totalPrice = statistics.Sum(s => s.Price);
    var totalAvg = (totalFuel / totalKm) * 100;
    var totalPricePerKm = totalPrice / totalKm;
    
    <table class="table">
        <tr>
            <th scope="row">Gesamt Km</th>
            <td>@totalKm km</td>
        </tr>
        <tr>
            <th scope="row">Gesamt getankt</th>
            <td>@totalFuel.ToString("0.00") l</td>
        </tr>
        <tr>
            <th scope="row">Gesamt Preis</th>
            <td>@totalPrice.ToString("0.00") €</td>
        </tr>
        <tr>
            <th scope="row">Durchschn. l/100km</th>
            <td>@totalAvg.ToString("0.00") l/100km</td>
        </tr>
        <tr>
            <th scope="row">Durchschn. €/km</th>
            <td>@totalPricePerKm.ToString("0.00") €/km</td>
        </tr>
    </table>
}
