@using automanager.Extensions
@{
    ViewData["Title"] = "Fahrzeugliste";
}
@model IEnumerable<Vehicle>
    
@if(Model.Count() > 0)
{
    <div class="accordion">
        @foreach (var v in Model)
        {
            <div class="card">
                <div class="card-header">
                    <button type="button" class="btn btn-link" data-toggle="collapse" data-target="#collapse-vehicle-@v.Id">@v.Name (@v.LicensePlate)</button>
                    
                    <div class="float-right">
                        <a asp-controller="Vehicle" asp-action="FuelEntryForm" asp-route-id="@v.Id" dclass="btn btn-link"><i class="fas fa-gas-pump"></i></a>
                        <a asp-controller="Vehicle" asp-action="DisplayVehicle" asp-route-id="@v.Id" class="btn btn-link"><i class="fas fa-info-circle"></i></a>
                    </div>
                </div>                
            </div>
            <div class="collapse" id="collapse-vehicle-@v.Id">
                <div class="card-body">
                    @if (v.GasFillingEntries.Count() > 0)
                    {
                        var km = v.GasFillingEntries.Max(gfe => gfe.Kilometers) - v.StartingKilometers;
                        var lastusage = v.GasFillingEntries.Where(gfe => !gfe.Partial).OrderByDescending(gfe => gfe.Kilometers)
                            .FirstOrDefault();

                        <table class="table">
                            <tr>
                                <th scope="row">Erfasste Fahrstrecke</th>
                                <td>@km km</td>
                            </tr>

                            @if (lastusage != null)
                            {
                                <tr>
                                    <th scope="row">Letzter erfasster Verbrauch</th>
                                    <td>@lastusage.GetStatistics().LiterPer100Km.ToString("F2") l/100km</td>
                                </tr>
                            }
                        </table>
                    }
                    else
                    {
                        <span>Es ist noch keine Statistik für dieses Fahrzeug erfasst.</span>
                    }
                </div>
            </div>
        }
    </div>
}
else
{
    <p>Es gibt noch keine Fahrzeuge. :-(</p>
}
